@import "tailwindcss";

@layer base {
  body {
    @apply bg-stone-50 text-stone-800 antialiased overflow-hidden;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2 rounded-lg px-5 py-2.5 font-medium transition-all bg-stone-800 text-white hover:bg-stone-700 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
  }

  .card {
    @apply rounded-xl bg-white border border-stone-100 transition-all duration-300 hover:shadow-md hover:border-stone-200;
  }

  .badge {
    @apply flex items-center gap-1.5 rounded-full  bg-stone-100 px-3 py-1.5 text-sm font-medium text-stone-600;
  }

  .title {
    @apply text-xl font-semibold text-stone-800 mb-4;
  }

  .input {
    @apply w-full rounded-lg border border-stone-200 bg-white px-4 py-3 text-stone-700 transition-all duration-200 placeholder:text-stone-400 focus:outline-none focus:border-stone-400 focus:ring-1 focus:ring-stone-400;
  }
}

/* Loader styles */
/* From Uiverse.io by cohencoo */
.custom-loader {
  width: 70px;
  height: 70px;
  background: #ffa600;
  border-radius: 50px;
  -webkit-mask: radial-gradient(circle 31px at 50% calc(100% + 13px), #000 95%, #0000) top 4px left 50%,
    radial-gradient(circle 31px, #000 95%, #0000) center,
    radial-gradient(circle 31px at 50% -13px, #000 95%, #0000) bottom 4px left 50%, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu10 1.5s infinite;
}

@keyframes cu10 {
  0% {
    -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
  }

  16.67% {
    -webkit-mask-size: 100% 18px, 0 18px, 0 18px, auto;
  }

  33.33% {
    -webkit-mask-size: 100% 18px, 100% 18px, 0 18px, auto;
  }

  50% {
    -webkit-mask-size: 100% 18px, 100% 18px, 100% 18px, auto;
  }

  66.67% {
    -webkit-mask-size: 0 18px, 100% 18px, 100% 18px, auto;
  }

  83.33% {
    -webkit-mask-size: 0 18px, 0 18px, 100% 18px, auto;
  }

  100% {
    -webkit-mask-size: 0 18px, 0 18px, 0 18px, auto;
  }
}